
<div class="app layout-fixed-header">
    {{> sidebar}}
    <div class=main-panel>
        {{> navbar}}
        <div class=main-content>
            <div class=panel>
                <div class="panel-heading border">
                    <ol class="breadcrumb mb0 no-padding">
                        <li><a href=javascript:;>Home</a></li>
                        <li><a href=javascript:;>Tables</a></li>
                        <li class=active>Data tables</li>
                    </ol>
                </div>
                <div class=panel-body>
                    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
                        <thead>
                            <tr>
                                <th>制造商</th>
                                <th>型号</th>
                                <th>平台</th>
                                <th>UUID</th>
                                <th>版本</th>
                                <th>创建时间</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#table_rows}}
                                <tr>
                                    <td>{{manufacturer}}</td>
                                    <td>{{model}}</td>
                                    <td>{{platform}}</td>
                                    <td>{{uuid}}</td>
                                    <td>{{version}}</td>
                                    <td>{{_date create_time}}</td>
                                    <td><a href=javascript:; class=edit>Edit</a>
                                    <td><a href=javascript:; class=delete>Delete</a>
                                </tr>
                            {{/table_rows}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>

{{> table_foot}}
